.box1 {
    background-color:#bfeb55;
     height: "120px";
}

.box2 {

   background-color:#ADD9B0;
    height: "60px";
 }

 .box3 {
    background-color:#ADD9B0;
}

.redes {
   font-size: 60px !important;
    color: #E3F2DC;
}

.textos {
    color: #545951;
}


.backgroufooter {
    background-image: url(https://i.imgur.com/NK9ZBWg.png);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
}

.imglogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
