.box1 {
    background-color:  #bfeb55;
     height: "120px";
}

.box2 {
   
   background-color:black;
    height: "70px";
 }

.redes {
   font-size: 60px !important;
    color: white;
}

.textos {
    color: white;
}
