.box1 {
    background-color:#ADD9B0;
     height: "120px";
}

.box2 {
   
   background-color:#ADD9B0;
    height: "60px";
 }

.redes {
   font-size: 60px !important;
    color: #E3F2DC;
}

.textos {
    color: #545951;
}
