@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap%27");

.cursor {
    cursor: pointer;
    color: white;
}

.color-nav {
    background-color:  #bfeb55;
}

.text-decorator-none{
    text-decoration: none;
}

#colorText{
    color: #458766;
    font-family: 'Signika', sans-serif;
}
.container {
    display: flex;
    justify-content: flex-start;
}

.MuiBox-root-4 {
    display: flex;
    justify-content: start;
    position: relative;
}

.container2 {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #458766 ;
    left: 100rem;
    margin-left: 20rem;
}

.container3 {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;

}

#efeito:hover {
    transform: scale(0.72);
    border-bottom: 1px rgb(255, 255, 255) solid;
    transition: transform 1s;
}
.MuiBox-root-37 {
    display: flex;
    justify-content: start;
    margin-right: 18rem;
}

.MuiBox-root-14, .MuiBox-root-18 {
    color: #3f51b5;
}

.MuiBox-root-14:hover, .MuiBox-root-18:hover {
    transform: scale(0.72);
    border-bottom: 1px rgb(255, 255, 255) solid;
    transition: transform 1s;
}

.MuiTypography-h6:hover{
    transform: scale(0.72);
    border-bottom: 1px #ffffff solid;
    transition: transform 2s;
    margin-left: 20px;;
}

.imglogo9{
 display: block; 
 width: 18%;
}

.imglogo8{
    display: block; 
    width: 10%;
}

.MuiBox-root-26 {
    transform: scale(0.65);
    border-bottom: 1px #ffffff solid;
    transition: transform 1s;
    margin-left: 1rem;
}