@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');

.cursor {
    cursor: pointer;
    color: white;
}

.color-nav {
    background-color:  #bfeb55;
}

.text-decorator-none{
    text-decoration: none;
}

#colorText{
    color: #458766;
    font-family: 'Signika', sans-serif;
}
.container {
    display: flex;
    justify-content: flex-start;
    

}

.container2 {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #458766 ;
}

.container3 {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    

}
#efeito:hover {
    transform: scale(0.65);
}



