.cursor {
    cursor: pointer;
    color: white;
}

.color-nav {
    background-color: #ADD9B0;
}

.text-decorator-none{
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: flex-start;
    

}

.container2 {
    display: flex;
    justify-content: center;
    

}

.container3 {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    

}



