.textos1 {
    font-weight : bold !important;
}

.imagem {
    
        background-image: url(https://imgur.com/KPmWodh.jpg);
        background-repeat: no-repeat;
        width: 100vh;
        min-height: 100vh;
        background-size: cover;
         background-position: center;
    
}

.botao-cor {
    background-color: black;
    text-decoration: none;
}

.text-decorator-none {
    text-decoration: none;
}